<!-- blog Modals -->
{% for blog in site.blogs %}
<div class="blog-modal modal fade" id="blogModal-{{ blog.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ blog.title }}</h2>
                        <hr class="star-primary">
                        <img src="img/blog/{{ blog.img }}" class="img-responsive img-centered"
                            alt="{{ blog.alt }}">
                        {% if blog.description %}
                        <p>{{ blog.description }}</p>
                        {% endif %}
                        <ul class="list-inline item-details">
                            {% if blog.client %}
                            <li>Client:
                                <strong>{{ blog.client }}</strong>
                            </li>
                            {% endif %}
                            {% if blog.blog-date %}
                            <li>Date:
                                <strong>{{ blog.blog-date }}</strong>
                            </li>
                            {% endif %}
                            {% if blog.category %}
                            <li>Service:
                                <strong>{{ blog.category }}</strong>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="blog-body">
                            {{ blog.content | markdownify }}
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}