<!-- About Section -->
<section class="success" id="brief">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center about-row text-center">
        <div class="col-lg-4 about-link">
          <p>Hello my name is Robbe Beernaert. I am a third year software engineering student at Howest, driven by open-source development.</p>
        </div>
        <div class="col-lg-4 about-link">
          <p>
            You can often find me at
            <a href="https://github.com/espressif" target="_blank" rel="noopener noreferrer">ESP-IDF</a>,
            <a href="https://www.quickspot.io/" target="_blank" rel="noopener noreferrer">Quickspot</a>,
            or
            <a href="https://premake.github.io/" target="_blank" rel="noopener noreferrer">Premake</a>,
            of course!
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/lolrobbe2/lolrobbe2/raw/main/website/files/robbe_beernaert_cv.pdf" class="btn btn-lg btn-outline" download="robbe_beernaert_cv.pdf" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>    
  </div>
</section>
